@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body{
    margin: 0%;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0%;
}

/* @ */

/*responsive*/

@media (max-width: 650px){

    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }

}

/*NavBar*/

header{
    display: flex;
    max-height: 60px;
    min-height: 60px;
    justify-content: space-between;
    background-color: #0979b0;
    align-items: center;
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 150px;
    margin-left: -30px;
}

nav a{
    font-weight: 400;
    padding-right: 50px;
}


.cartas{
    justify-content: center;
    margin-left: 10%;
}

/*Tarjetas - Numero 1*/

.card_1{
    width: 100%;
    display: flex;
    margin-top: -220px;
    align-items: center;
    height: 100vh;
}

.card_1 figure{
    position: relative;
    height: 250px;
    width: 350px;
    cursor: pointer;
}

.card_1 figure img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 500ms ease-out;
}

.card_1 figure .capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.card_1 figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.card_1 figure:hover > .capa h3{
    margin-top: 20px;
    margin-bottom: 5px;
} 

.card_1 figure:hover > .capa h3{
    color: #fff;
    font-weight: 400;
    transition: all 500ms ease-out;
    margin-top: 30px;   
    margin-bottom: 50px; 
}

.card_1 figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1;
    width: 100%;
    max-width: 220px;
    margin: auto;
    margin-bottom: 100px;
}

/*Tarjetas - Numero 2*/

.card_2{
    width: 100%;
    display: flex;
    margin-top: -790px;
    margin-left: 27%;
    align-items: center;
    height: 100vh;
}

.card_2 figure{
    position: relative;
    height: 250px;
    width: 350px;
    cursor: pointer;
}

.card_2 figure img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 500ms ease-out;
}

.card_2 figure .capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.card_2 figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.card_2 figure:hover > .capa h3{
    margin-top: 20px;
    margin-bottom: 5px;
} 

.card_2 figure:hover > .capa h3{
    color: #fff;
    font-weight: 400;
    transition: all 500ms ease-out;
    margin-top: 30px;   
    margin-bottom: 50px; 
}

.card_2 figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1;
    width: 100%;
    max-width: 220px;
    margin: auto;
    margin-bottom: 100px;
}

/* Tarjetas - Numero 3 */

.card_3{
    width: 100%;
    display: flex;
    margin-top: -790px;
    margin-left: 54%;
    align-items: center;
    height: 100vh;
}

.card_3 figure{
    position: relative;
    height: 250px;
    width: 350px;
    cursor: pointer;
}

.card_3 figure img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 500ms ease-out;
}

.card_3 figure .capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.card_3 figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.card_3 figure:hover > .capa h3{
    margin-top: 20px;
    margin-bottom: 5px;
} 

.card_3 figure:hover > .capa h3{
    color: #fff;
    font-weight: 400;
    transition: all 500ms ease-out;
    margin-top: 30px;   
    margin-bottom: 50px; 
}

.card_3 figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1;
    width: 100%;
    max-width: 220px;
    margin: auto;
    margin-bottom: 100px;
}

/* Tabla de Prueba */


table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    font-size: 25px;
    position: absolute;
    margin-top: -12%;
    margin-left: 54%;
}

th{
    padding: 15px;
}

td{
    text-align: center;
    padding: 15px;
}


/* CALENDARIO */

.calendario img{
    width: 33%;
    margin-top: -200px;
    margin-left: 13%;
}

/*
.container{
    margin-top: -200px;
    margin-left: 2.5%;
    font-family: 'Poppins', sans-serif;
}

.calendar-base {
width: 900px;
height: 500px;
border-radius: 20px;
background-color: white;
position: relative;
z-index: -1;
color: black;
}

.year {
color: #E8E8E8;
font-size: 30px;
float: right;
position: relative;
right: 75px;
top: 20px;
font-weight: bold;
}

.triangle-left {
width: 0;
height: 0;
border-top: 5px solid transparent;
border-right: 10px solid #E8E8E8;
border-bottom: 5px solid transparent;
float: right;
position: relative;
right: 78px;
top: 36px;
}

.triangle-right {
width: 0;
height: 0;
border-top: 5px solid transparent;
border-left: 10px solid #E8E8E8;
border-bottom: 5px solid transparent;
float: right;
position: relative;
left: 20px;
top: 36px;
}
.triangle-left:hover{
border-right: 10px solid #0979b0;
}
.triangle-right:hover{
border-left: 10px solid #0979b0;
}

.month-color {
color: #0979b0;
}
.month-hover:hover{
color:#0979b0 !important;
}

.months {
color: #AAAAAA;
position: relative;
left: 350px;
top: 90px;
word-spacing: 10px;
}

.month-line {
border-color: #E8E8E8;
position: relative;
top: 85px;
width: 57%;
left: 178px;
}

.days {
color: #AAAAAA;
position: relative;
font-size: 18px;
left: 355px;
top: 80px;
word-spacing: 35px;
font-weight: 600;
}

.num-dates {
float: right;
position: relative;
top: 110px;
right: 50px;
z-index: 1;
}

.first-week {
margin-bottom: 25px;
word-spacing: 55px;
}

.second-week {
margin-bottom: 25px;
word-spacing: 53px;
}

.third-week {
margin-bottom: 25px;
word-spacing: 58px;
}

.fourth-week {
margin-bottom: 25px;
word-spacing: 58px;
}

.fifth-week {
margin-bottom: 25px;
word-spacing: 56px;
}

.sixth-week {
margin-bottom: 25px;
word-spacing: 55px;
}

.white {
color: white;
}

.two {
position: relative;
top: 168px;
left: 535px;
}

.grey {
color: #AAAAB1;
}

.calendar-left {
width: 300px;
height: 500px;
border-radius: 20px 0px 0px 20px;
background-color: #0979b0;
position: relative;
z-index: -1;
bottom: 500px;
color: white;
}

.hamburger {
position: relative;
top: 25px;
left: 25px;
}

.burger-line {
width: 25px;
height: 3px;
background-color: white;
border-radius: 15%;
margin-bottom: 3px;
}

.num-date {
font-size: 150px;
width: 50%;
margin: 0 auto;
font-weight: 700;
margin-top: 90px;
}

.day {
width: 50%;
margin: 0px auto;
font-size: 30px;
position: relative;
bottom: 60px;
}
*/